.about{
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--second-bg-color);
}

.about .img-about{
    text-align: center;
    position: relative;
}

.about .img-about img{
    max-width: 400px;
    height: auto;
    padding-bottom: 0;
}

.about-content span{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3{
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p{
    font-weight: 300;
    color: #fdfdfd;
    margin-bottom: 1.5rem;
}


.img-about span{
    color: var(--hover-color);
    font-size: 1rem;
    font-weight: 600;
}








/*---------------------- Keyframes for info-about -------------------------*/

@keyframes morph {
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }
}