.contact{
    background: var(--second-bg-color);
    width: 100%;
    height: 100vh;
}

.contact form{
    max-height: 90vh;
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea{
    resize: none;
}

.formBtn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBtn .btn{
    cursor: pointer;
    font-size: 1rem;
}

#success{
    color: green;
    font-size: 1rem;
    font-weight: 700;
}
