.skills{
    background: var(--second-bg-color);
}

.skill-main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-left{
    width: 70%;
}

.skill-bar{
    margin-bottom: 2.3rem;
}

.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .html{
    width: 72%;
    animation: html 2s;
}

.skill-bar .bar .sql{
    width: 68%;
    animation: figma 3s;
}

.skill-bar .bar .css{
    width: 80%;
    animation: css 4s;
}

.skill-bar .bar .javascript{
    width: 64%;
    animation: javascript 5s;
}



/* -------------------- Keyframes --------- */

@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 72%;
    }
}

@keyframes figma{
    0%{
        width: 0;
    }
    100%{
        width: 48%;
    }
}

@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

@keyframes javascript{
    0%{
        width: 0;
    }
    100%{
        width: 64%;
    }
}


@keyframes glow{
    0%{
        background: var(--bg-color);
        box-shadow: none;
    }
    100%{
        background:var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}